.root {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-font-size: 10pt;
    -fx-alignment: center;
}

.numbers {
    -fx-background-size: cover;
    -fx-background-color: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-alignment: center center;
    -fx-text-fill: black;
    -fx-border-width: 1px;
}

.numbers-selected {
    -fx-background-color: whiteGrey;
}

.numbers-full {
    -fx-border-color: black black black black;
}

.numbers-full-grey {
    -fx-border-color: grey grey grey grey;
}

.numbers-bottom-right {
    -fx-border-color: grey black black grey;
}

.numbers-top {
    -fx-border-color: black grey grey grey;
}

.numbers-right {
    -fx-border-color: grey black grey grey;
}

.numbers-bottom {
    -fx-border-color: grey grey black grey;
}

.numbers-left {
    -fx-border-color: grey grey grey black;
}