.root {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-font-size: 10pt;
    -fx-alignment: center;
}

.numbers {
    -fx-background-size: cover;
    -fx-background-color: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-alignment: center center;
    -fx-text-fill: black;
    -fx-border-width: 5px;
}

.numbers-full {
    -fx-border-color: black black black black;
}

.numbers-bottom-right {
    -fx-border-color: white black black white;
}

.numbers-right {
    -fx-border-color: white black white white;
}

.numbers-bottom {
    -fx-border-color: white white black white;
}

.numbers-plain {
    -fx-border-color: white white white white;
}

