.root {
    -fx-background-image: url('/start-screen-background.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-font-size: 10pt;
}

.label {
    -fx-font-family: Inter;
    -fx-text-fill: #ffba31;
    -fx-font-size: 50pt;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: linear-gradient(#ddc62b, #1ab182);
    -fx-pref-height: 50;
    -fx-pref-width: 300;
    -fx-font-size: 10pt;
    -fx-font-family: Inter;
}

.text-area {
    -fx-background-color: white;
    -fx-background-radius: 0;
}