.root{
    -fx-background-color: url('start-screen-background.png');
    -fx-font-size: 11pt;
}

.label{
    -fx-text-fill: #e8e8e8;
}

.button{
    -fx-background-color: linear-gradient(#cf874d, #b11414);
    -fx-background-radius: 100;
}.

.text-area{
    -fx-background-color: white;
    -fx-background-radius: 0;
}